<div id="timer"></div>
<div id="hints">
    <div id="fifty-fifty">50/50</div>
    <div id="friend-call">Call friend</div>
</div>
<div id="score">Score: {{score}}</div>
<div id="question">
    <p id="questionText">{{question}}</p>
</div>
<div id="answers">
    <input type="image" class='Answer' id="Aanswer" src="/static/images/black.png"/>
    <p id="AanswerText">{{A}}</p>
    <input type="image" class='Answer' id="Banswer" src="/static/images/black.png"/>
    <p id="BanswerText">{{B}}</p>
    <input type="image" class='Answer' id="Canswer" src="/static/images/black.png"/>
    <p id="CanswerText">{{C}}</p>
    <input type="image" class='Answer' id="Danswer" src="/static/images/black.png"/>
    <p id="DanswerText">{{D}}</p>
</div>
<script src="static/js/game.js"></script>